# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.build/
dist/
build/

# Venv / entorno
.venv/
env/
.env
.env.*

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE / SO
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logs/

src/__pycache__/

#DB
database.db
